*{
  margin:0;
}

body{
  height: 100%;
  background-image: url('../images/water-texture.jpg');
}

h1, h2, h3, h4, h5, p{
  font-family: 'Roboto', sans-serif;
  color: white;
}

input{
  width:200px;
  height:125px;
  background-color: none;
  padding-top: 10%;
  border-bottom: 2px solid white;

  text-align: center;
  font-size: 120px;
}

input[type="text"]
{
    background: transparent;
    border: none;
    border-bottom: 5px solid white;
    color: white;
}


input:focus{
    outline: none;
}


.fire-button{

  width: 200px;
  height: 150px;
  margin: 20% 20%;
  cursor: pointer;


  background-color: #E92727;
  box-shadow: 0px 20px #A91C1C;
  border:none;
  border-radius: 5px;
  font-size: 32px;
  color: white;
}

button:active{
  background-color: #E92727;
  box-shadow: 0 5px #A91C1C;
  transform: translateY(4px);
}


button.active:active{
}

button:hover{
  outline: none;
}


.user_input{
  display: flex;
  justify-content: center;
  padding-left: 20%;
}

.inputForm{
  display: flex;
  justify-content: center;

}


.promptText{
  text-align: center;
}

.container {
  display:grid;
  justify-content: left;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  grid-template-rows:50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  margin: 5% 10% 10%;
}

.box {
  border-bottom: 0.5px solid #3cd070;
  border-right: 0.5px solid #3cd070;

  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.game-ui-layout{
  display:flex;
}


.input-coordinates{
  padding-top: 10%;

  text-align: center;
  font-size: 120px;
}
.logo{
  display: flex;
  justify-content: center;
}

#logo{
  display: flex;
  justify-content: center;
  width:75%;
  padding-bottom: 5%;
}
